In [60]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/education/사설학원수.csv')
# df.head(), df.shape, df['지역별'].unique()

In [61]:
# '시점'을 datetime 형식으로 변환
df['시점'] = pd.to_datetime(df['시점'].astype(str) + '-01-01')

# 인덱스로 설정
yearly_data = df.set_index('시점')

# 지역별로 그룹화 후 리샘플링
monthly_dfs = []

for region, group in yearly_data.groupby('지역별'):
    monthly_df = group.resample('ME').agg({'사설학원수': 'mean'})

    # 보간
    monthly_df = monthly_df.interpolate(method='linear')
    
    # NaN 값 처리
    monthly_df.fillna(0, inplace=True)
    
    # 시점 다시 설정
    monthly_df.reset_index(inplace=True)
    
    # 마지막 년도에 12월 데이터 추가
    last_year = monthly_df['시점'].dt.year.max()
    last_month = monthly_df['시점'].dt.month.max()
    
    # 12월 데이터가 없으면 추가
    if last_month < 12:
        new_row = pd.DataFrame({
            '사설학원수': [monthly_df['사설학원수'].iloc[-1]],
            '시점': [pd.Timestamp(year=last_year, month=12, day=1)],
            '지역별': [region]
        })
        monthly_df = pd.concat([monthly_df, new_row], ignore_index=True)

    # 지역별 컬럼 추가
    monthly_df['지역별'] = region
    
    monthly_dfs.append(monthly_df)

# 모든 지역별 데이터를 하나의 DataFrame으로 결합
df_new = pd.concat(monthly_dfs, ignore_index=True)

# '시점'을 문자열로 다시 포맷
df_new['시점'] = df_new['시점'].dt.strftime('%Y.%m')


# 결과 확인
print(df_new.head())
print(df_new.shape)
print(df_new['시점'].unique())

df_new = df_new.sort_values(by=['지역별', '시점'])
df_new['사설학원수'] = df_new['사설학원수'].map(lambda x: f"{x:.3f}")

# 결과 확인
print("정렬 후 데이터:")
print(df_new.head())
print(f"데이터 형태: {df_new.shape}")
print("고유한 시점 값:")
print(df_new['시점'].unique())

# 데이터 저장
df_new.to_csv('data/education/사설학원수(월별).csv', index=False)

# # 결과 확인
# print(final_monthly_df.tail(12), final_monthly_df.shape, final_monthly_df['지역별'].unique())

# # 데이터 저장
# final_monthly_df.to_csv('data/education/사설학원수(월별).csv', index=False)

        시점        사설학원수 지역별
0  2003.01  2146.000000  강원
1  2003.02  2134.833333  강원
2  2003.03  2123.666667  강원
3  2003.04  2112.500000  강원
4  2003.05  2101.333333  강원
(3989, 3)
['2003.01' '2003.02' '2003.03' '2003.04' '2003.05' '2003.06' '2003.07'
 '2003.08' '2003.09' '2003.10' '2003.11' '2003.12' '2004.01' '2004.02'
 '2004.03' '2004.04' '2004.05' '2004.06' '2004.07' '2004.08' '2004.09'
 '2004.10' '2004.11' '2004.12' '2005.01' '2005.02' '2005.03' '2005.04'
 '2005.05' '2005.06' '2005.07' '2005.08' '2005.09' '2005.10' '2005.11'
 '2005.12' '2006.01' '2006.02' '2006.03' '2006.04' '2006.05' '2006.06'
 '2006.07' '2006.08' '2006.09' '2006.10' '2006.11' '2006.12' '2007.01'
 '2007.02' '2007.03' '2007.04' '2007.05' '2007.06' '2007.07' '2007.08'
 '2007.09' '2007.10' '2007.11' '2007.12' '2008.01' '2008.02' '2008.03'
 '2008.04' '2008.05' '2008.06' '2008.07' '2008.08' '2008.09' '2008.10'
 '2008.11' '2008.12' '2009.01' '2009.02' '2009.03' '2009.04' '2009.05'
 '2009.06' '2009.07' '2009.08' '2009.09' '2009.10' '2009.11' '2009.12'
 '2010.01' '2010.02' '2010.03' '2010.04' '2010.05' '2010.06' '2010.07'
 '2010.08' '2010.09' '2010.10' '2010.11' '2010.12' '2011.01' '2011.02'
 '2011.03' '2011.04' '2011.05' '2011.06' '2011.07' '2011.08' '2011.09'
 '2011.10' '2011.11' '2011.12' '2012.01' '2012.02' '2012.03' '2012.04'
 '2012.05' '2012.06' '2012.07' '2012.08' '2012.09' '2012.10' '2012.11'
 '2012.12' '2013.01' '2013.02' '2013.03' '2013.04' '2013.05' '2013.06'
 '2013.07' '2013.08' '2013.09' '2013.10' '2013.11' '2013.12' '2014.01'
 '2014.02' '2014.03' '2014.04' '2014.05' '2014.06' '2014.07' '2014.08'
 '2014.09' '2014.10' '2014.11' '2014.12' '2015.01' '2015.02' '2015.03'
 '2015.04' '2015.05' '2015.06' '2015.07' '2015.08' '2015.09' '2015.10'
 '2015.11' '2015.12' '2016.01' '2016.02' '2016.03' '2016.04' '2016.05'
 '2016.06' '2016.07' '2016.08' '2016.09' '2016.10' '2016.11' '2016.12'
 '2017.01' '2017.02' '2017.03' '2017.04' '2017.05' '2017.06' '2017.07'
 '2017.08' '2017.09' '2017.10' '2017.11' '2017.12' '2018.01' '2018.02'
 '2018.03' '2018.04' '2018.05' '2018.06' '2018.07' '2018.08' '2018.09'
 '2018.10' '2018.11' '2018.12' '2019.01' '2019.02' '2019.03' '2019.04'
 '2019.05' '2019.06' '2019.07' '2019.08' '2019.09' '2019.10' '2019.11'
 '2019.12' '2020.01' '2020.02' '2020.03' '2020.04' '2020.05' '2020.06'
 '2020.07' '2020.08' '2020.09' '2020.10' '2020.11' '2020.12' '2021.01'
 '2021.02' '2021.03' '2021.04' '2021.05' '2021.06' '2021.07' '2021.08'
 '2021.09' '2021.10' '2021.11' '2021.12' '2022.01' '2022.02' '2022.03'
 '2022.04' '2022.05' '2022.06' '2022.07' '2022.08' '2022.09' '2022.10'
 '2022.11' '2022.12' '2023.01']
정렬 후 데이터:
        시점     사설학원수 지역별
0  2003.01  2146.000  강원
1  2003.02  2134.833  강원
2  2003.03  2123.667  강원
3  2003.04  2112.500  강원
4  2003.05  2101.333  강원
데이터 형태: (3989, 3)
고유한 시점 값:
['2003.01' '2003.02' '2003.03' '2003.04' '2003.05' '2003.06' '2003.07'
 '2003.08' '2003.09' '2003.10' '2003.11' '2003.12' '2004.01' '2004.02'
 '2004.03' '2004.04' '2004.05' '2004.06' '2004.07' '2004.08' '2004.09'
 '2004.10' '2004.11' '2004.12' '2005.01' '2005.02' '2005.03' '2005.04'
 '2005.05' '2005.06' '2005.07' '2005.08' '2005.09' '2005.10' '2005.11'
 '2005.12' '2006.01' '2006.02' '2006.03' '2006.04' '2006.05' '2006.06'
 '2006.07' '2006.08' '2006.09' '2006.10' '2006.11' '2006.12' '2007.01'
 '2007.02' '2007.03' '2007.04' '2007.05' '2007.06' '2007.07' '2007.08'
 '2007.09' '2007.10' '2007.11' '2007.12' '2008.01' '2008.02' '2008.03'
 '2008.04' '2008.05' '2008.06' '2008.07' '2008.08' '2008.09' '2008.10'
 '2008.11' '2008.12' '2009.01' '2009.02' '2009.03' '2009.04' '2009.05'
 '2009.06' '2009.07' '2009.08' '2009.09' '2009.10' '2009.11' '2009.12'
 '2010.01' '2010.02' '2010.03' '2010.04' '2010.05' '2010.06' '2010.07'
 '2010.08' '2010.09' '2010.10' '2010.11' '2010.12' '2011.01' '2011.02'
 '2011.03' '2011.04' '2011.05' '2011.06' '2011.07' '2011.08' '2011.09'
 '2011.10' '2011.11' '2011.12' '2012.01' '2012.02' '2012.03' '2012.04'
 '2012.05' '2012.06' '2012.07' '2012.08' '2012.09' '2012.10' '2012.11'
 '2012.12' '2013.01' '2013.02' '2013.03' '2013.04' '2013.05' '2013.06'
 '2013.07' '2013.08' '2013.09' '2013.10' '2013.11' '2013.12' '2014.01'
 '2014.02' '2014.03' '2014.04' '2014.05' '2014.06' '2014.07' '2014.08'
 '2014.09' '2014.10' '2014.11' '2014.12' '2015.01' '2015.02' '2015.03'
 '2015.04' '2015.05' '2015.06' '2015.07' '2015.08' '2015.09' '2015.10'
 '2015.11' '2015.12' '2016.01' '2016.02' '2016.03' '2016.04' '2016.05'
 '2016.06' '2016.07' '2016.08' '2016.09' '2016.10' '2016.11' '2016.12'
 '2017.01' '2017.02' '2017.03' '2017.04' '2017.05' '2017.06' '2017.07'
 '2017.08' '2017.09' '2017.10' '2017.11' '2017.12' '2018.01' '2018.02'
 '2018.03' '2018.04' '2018.05' '2018.06' '2018.07' '2018.08' '2018.09'
 '2018.10' '2018.11' '2018.12' '2019.01' '2019.02' '2019.03' '2019.04'
 '2019.05' '2019.06' '2019.07' '2019.08' '2019.09' '2019.10' '2019.11'
 '2019.12' '2020.01' '2020.02' '2020.03' '2020.04' '2020.05' '2020.06'
 '2020.07' '2020.08' '2020.09' '2020.10' '2020.11' '2020.12' '2021.01'
 '2021.02' '2021.03' '2021.04' '2021.05' '2021.06' '2021.07' '2021.08'
 '2021.09' '2021.10' '2021.11' '2021.12' '2022.01' '2022.02' '2022.03'
 '2022.04' '2022.05' '2022.06' '2022.07' '2022.08' '2022.09' '2022.10'
 '2022.11' '2022.12' '2023.01']