In [27]:
import pandas as pd

education = pd.read_csv('private_education.csv')
income = pd.read_csv('income.csv')
education.head()

     시점       전체       서울      광역시     중소도시     읍면지역
0    시점  전체 (억원)  전체 (억원)  전체 (억원)  전체 (억원)  전체 (억원)
1  2007   200400    47410    54016    84634    14339
2  2008   209095    48258    55401    90785    14650
3  2009   216259    52502    51584    91114    21059
4  2010   208718    49119    49716    88467    21415

In [28]:
education['시점'] = pd.to_datetime(education['시점'], format='%Y', errors='coerce')

# 각 지역별 데이터 숫자형으로 변환 (문자열에서 숫자로 변환)
for column in ['전체', '서울', '광역시', '중소도시', '읍면지역']:
    education[column] = pd.to_numeric(education[column], errors='coerce')

education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      17 non-null     datetime64[ns]
 1   전체      17 non-null     float64
 2   서울      17 non-null     float64
 3   광역시     17 non-null     float64
 4   중소도시    17 non-null     float64
 5   읍면지역    17 non-null     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 996.0 bytes

In [30]:
# 월별 인덱스 생성
monthly_index = pd.date_range(start=education['시점'].min(), end=education['시점'].max(), freq='ME')

# 월별 데이터 프레임 생성
monthly_education = pd.DataFrame(index=monthly_index)

# 각 지역별 데이터를 추가
for column in ['전체', '서울', '광역시', '중소도시', '읍면지역']:
    # 해당 지역의 연도별 데이터만 선택하고 인덱스를 연도 형태로 변환
    yearly_data = education.set_index('시점')[column]
    
    # 보간을 위한 리샘플링
    monthly_data = yearly_data.resample('ME').mean()  # 평균으로 리샘플링
    monthly_data = monthly_data.interpolate(method='linear')  # 선형 보간
    monthly_education[column] = monthly_data

monthly_education.head(12), monthly_education.shape

(                       전체            서울           광역시          중소도시  \
 2007-01-31  200400.000000  47410.000000  54016.000000  84634.000000
 2007-02-28  201124.583333  47480.666667  54131.416667  85146.583333
 2007-03-31  201849.166667  47551.333333  54246.833333  85659.166667
 2007-04-30  202573.750000  47622.000000  54362.250000  86171.750000
 2007-05-31  203298.333333  47692.666667  54477.666667  86684.333333
 2007-06-30  204022.916667  47763.333333  54593.083333  87196.916667
 2007-07-31  204747.500000  47834.000000  54708.500000  87709.500000
 2007-08-31  205472.083333  47904.666667  54823.916667  88222.083333
 2007-09-30  206196.666667  47975.333333  54939.333333  88734.666667
 2007-10-31  206921.250000  48046.000000  55054.750000  89247.250000
 2007-11-30  207645.833333  48116.666667  55170.166667  89759.833333
 2007-12-31  208370.416667  48187.333333  55285.583333  90272.416667

                     읍면지역
 2007-01-31  14339.000000
 2007-02-28  14364.916667
 2007-03-31  14390.833333
 2007-04-30  14416.750000
 2007-05-31  14442.666667
 2007-06-30  14468.583333
 2007-07-31  14494.500000
 2007-08-31  14520.416667
 2007-09-30  14546.333333
 2007-10-31  14572.250000
 2007-11-30  14598.166667
 2007-12-31  14624.083333  ,
 (192, 5))