In [3]:
import requests

url = 'http://apis.data.go.kr/1741000/ForeignLocalGovernmentsYear/getForeignLocalGovernmentsYear' # 기본 URL
params = {'ServiceKey' : 'LS/k7aFQ2gzJrqJtruXv2Ua6HdUwR+Fvp1tO11lQagb60lUfvrVnApQ6tuEULO50Trukt7eWlEGQR8Ewmc5Aeg==', 'pageNo' : '1', 'numOfRows' : '10'} # 요청변수

response = requests.get(url, params=params)
response

In [4]:
# URL로 XML의 구조 확인
from requests import Request, Session

s = Session()
req = Request('GET', url, params=params)
prepped = s.prepare_request(req)
prepped.url

'http://apis.data.go.kr/1741000/ForeignLocalGovernmentsYear/getForeignLocalGovernmentsYear?ServiceKey=LS%2Fk7aFQ2gzJrqJtruXv2Ua6HdUwR%2BFvp1tO11lQagb60lUfvrVnApQ6tuEULO50Trukt7eWlEGQR8Ewmc5Aeg%3D%3D&pageNo=1&numOfRows=10'

In [5]:
import pandas as pd

read_xml = pd.read_xml(response.content, xpath = '/ForeignLocalGovernmentsYear/row')
read_xml

,wrttimeid,seq,tot,seoul,busan,daegu,incheon,gwangju,daejeon,ulsan,sejong,gyeonggi,gangwon,chungbuk,chungnam,jeonbuk,jeonnam,gyeongbuk,gyeongnam,jeju
0,2007,1,722686,207417,28591,20731,43093,10784,12044,12034,0,214727,13238,19274,30337,14903,16312,34579,40607,4015
1,2008,1,891341,260019,33192,22822,49253,13077,14682,14667,0,277991,15236,22669,36591,18423,20551,36685,50431,5052
2,2009,1,1106884,334910,40913,25424,61522,15659,18834,18914,0,323964,18908,28311,45920,27223,30309,44831,64298,6944
3,2010,1,1139283,336221,41365,26002,63575,16632,19699,19354,0,337821,19041,30138,48874,28450,31305,46658,66800,7348
4,2011,1,1265006,366279,44726,28153,69350,18824,21360,21400,0,380606,21940,34083,57869,31515,35077,50808,74517,8499
5,2012,1,1409577,406293,49329,31231,73588,20649,22499,25163,0,424946,22731,37653,67157,35281,39006,56250,87395,10406
6,2013,1,1445631,395640,51617,32522,75552,22291,22907,28045,3668,440735,23738,39177,68639,37788,41340,59330,89986,12656
7,2014,1,1569470,415059,54394,34976,82523,24466,23729,32772,3782,492790,25141,43148,75438,39777,43828,64931,97148,15568
8,2015,1,1711013,408083,58080,38899,89515,29131,25886,36953,5570,549503,27253,52073,88189,44184,50864,74919,112387,19524
9,2016,1,1764664,404037,59872,40251,94670,31162,26656,35929,6084,571384,28469,56660,95553,45836,53066,78339,114594,22102